/* .navbar {
    box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
    padding: 0.75rem 1rem;
    background-color: #ecf0f1 !important;
  }
  
  .navbar-brand {
    font-size: 1.25rem;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
  }
  
  .navbar-brand img {
    border-radius: 4px;
   
  }
  
   */